body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 3rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  line-height: 2;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem !important;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.4rem 1rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #ff513c !important;
}
.bg-success {
  background-color: #fff000 !important;
}
.bg-info {
  background-color: #61728a !important;
}
.bg-warning {
  background-color: #d52b27 !important;
}
.bg-danger {
  background-color: #1352ff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ef1a00 !important;
  border-color: #ef1a00 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ef1a00 !important;
  border-color: #ef1a00 !important;
}
.btn-primary:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #282f39 !important;
  border-color: #282f39 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #080a0c !important;
  border-color: #080a0c !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #080a0c !important;
  border-color: #080a0c !important;
}
.btn-secondary:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-info,
.btn-info:active {
  background-color: #61728a !important;
  border-color: #61728a !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #414d5d !important;
  border-color: #414d5d !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #414d5d !important;
  border-color: #414d5d !important;
}
.btn-info:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-success,
.btn-success:active {
  background-color: #fff000 !important;
  border-color: #fff000 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #b3a800 !important;
  border-color: #b3a800 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #b3a800 !important;
  border-color: #b3a800 !important;
}
.btn-success:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #d52b27 !important;
  border-color: #d52b27 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #941e1b !important;
  border-color: #941e1b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #941e1b !important;
  border-color: #941e1b !important;
}
.btn-warning:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #1352ff !important;
  border-color: #1352ff !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0035c5 !important;
  border-color: #0035c5 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0035c5 !important;
  border-color: #0035c5 !important;
}
.btn-danger:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-white,
.btn-white:active {
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
  color: #737373 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-white:hover {
  color: white!important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ff513c;
  color: #ff513c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff513c;
  border-color: #ff513c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #282f39;
  color: #282f39;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #282f39;
  border-color: #282f39;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #282f39 !important;
  border-color: #282f39 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #61728a;
  color: #61728a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #61728a;
  border-color: #61728a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #61728a !important;
  border-color: #61728a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #fff000;
  color: #fff000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #fff000;
  border-color: #fff000;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #fff000 !important;
  border-color: #fff000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #d52b27;
  color: #d52b27;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #d52b27;
  border-color: #d52b27;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d52b27 !important;
  border-color: #d52b27 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #1352ff;
  color: #1352ff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #1352ff;
  border-color: #1352ff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #1352ff !important;
  border-color: #1352ff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #f3f3f3;
  color: #f3f3f3;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #737373;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #737373 !important;
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
}
.text-primary {
  color: #ff513c !important;
}
.text-secondary {
  color: #282f39 !important;
}
.text-success {
  color: #fff000 !important;
}
.text-info {
  color: #61728a !important;
}
.text-warning {
  color: #d52b27 !important;
}
.text-danger {
  color: #1352ff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffaca2 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #526075 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fff666 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #99a6b8 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e77e7b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #799dff !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #61728a;
}
.alert-warning {
  background-color: #d52b27;
}
.alert-danger {
  background-color: #1352ff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff513c;
  border-color: #ff513c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff513c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fffccc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a8b3c2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f7d2d1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfe8ff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
blockquote {
  border-color: #ff513c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff513c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff513c;
  border-bottom-color: #ff513c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff513c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #282f39 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff513c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tCi46M9U8W .navbar {
  padding: 0.5rem 0;
  transition: none;
  min-height: 50px;
  background: none;
}
.cid-tCi46M9U8W .navbar .mbr-overlay {
  z-index: -1;
  transition: all 0.3s;
  background: #0e1b28;
}
.cid-tCi46M9U8W .navbar-fixed-top {
  padding-top: 0;
}
.cid-tCi46M9U8W .navbar-collapse {
  flex-basis: auto;
}
.cid-tCi46M9U8W .dropdown-item {
  padding: 0;
}
.cid-tCi46M9U8W .dropdown-menu {
  border: 0px solid lightgray;
  background: #0b1d32 !important;
}
.cid-tCi46M9U8W .menu-content-top {
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
@media (max-width: 992px) {
  .cid-tCi46M9U8W .menu-content-top {
    width: 100%;
  }
  .cid-tCi46M9U8W .menu-content-top .menu-logo {
    display: none;
  }
  .cid-tCi46M9U8W .menu-content-top .navbar-buttons {
    display: none !important;
  }
  .cid-tCi46M9U8W .menu-content-top .menu-content-right {
    justify-content: space-between;
  }
}
.cid-tCi46M9U8W .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-tCi46M9U8W .menu-bottom .menu-wrap {
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .cid-tCi46M9U8W .menu-bottom .navbar-brand-bottom {
    display: none !important;
  }
}
.cid-tCi46M9U8W .menu-bottom .mbr-overlay2 {
  z-index: 0;
  transition: all 0.3s;
  background: #0b1d32;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
}
.cid-tCi46M9U8W .menu-bottom .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-tCi46M9U8W .menu-bottom .icons-menu span {
  font-size: 16px;
  color: #ff513c;
}
.cid-tCi46M9U8W .navbar-dropdown.bg-color.transparent.opened {
  background: #0e1b28;
}
.cid-tCi46M9U8W a {
  font-style: normal;
}
.cid-tCi46M9U8W .nav-item {
  border-right: 1px #0e2640;
  border-left: 1px #0e2640;
}
.cid-tCi46M9U8W .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-tCi46M9U8W .nav-item a {
  padding: 20px 0 !important;
  margin: 0 0.5rem !important;
}
.cid-tCi46M9U8W .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tCi46M9U8W .content-text {
  margin-bottom: 0;
}
.cid-tCi46M9U8W .navbar-nav {
  position: relative;
  min-height: 49px;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-tCi46M9U8W .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #ff513c;
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-tCi46M9U8W .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-tCi46M9U8W .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-tCi46M9U8W .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-tCi46M9U8W .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-tCi46M9U8W .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-tCi46M9U8W .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-tCi46M9U8W .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tCi46M9U8W .nav-dropdown .link {
  font-weight: 400;
}
.cid-tCi46M9U8W .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-tCi46M9U8W .content-right-side {
  text-align: center;
}
.cid-tCi46M9U8W .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-tCi46M9U8W .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-tCi46M9U8W .info-widget {
  margin-left: 16px;
  padding-top: 0.5rem;
}
.cid-tCi46M9U8W .menu-content-right {
  display: flex;
  align-items: center;
}
.cid-tCi46M9U8W .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-tCi46M9U8W .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-tCi46M9U8W .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-tCi46M9U8W .widget-content .widget-title {
  margin-bottom: 0px;
  font-weight: 500;
}
.cid-tCi46M9U8W .widget-content .widget-title .mbr-iconfont {
  display: inline-block;
  padding-right: 0.5rem;
  font-size: 20px !important;
}
.cid-tCi46M9U8W .widget-content .widget-title.display-7 {
  line-height: 1.2 !important;
}
.cid-tCi46M9U8W .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-tCi46M9U8W .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-tCi46M9U8W .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
  .cid-tCi46M9U8W .menu-content-top {
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
  }
  .cid-tCi46M9U8W .navbar {
    display: block;
    padding: 0;
  }
  .cid-tCi46M9U8W .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .cid-tCi46M9U8W .navbar:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 4rem - 4.5rem);
  }
  .cid-tCi46M9U8W .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
    padding-top: 8px !important;
  }
  .cid-tCi46M9U8W .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-tCi46M9U8W .navbar-toggler {
    display: none;
  }
  .cid-tCi46M9U8W .navbar-collapse {
    justify-content: center;
  }
}
.cid-tCi46M9U8W .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-tCi46M9U8W .btn {
  display: inline-flex;
  align-items: center;
}
.cid-tCi46M9U8W .btn.btn-success-outline {
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 0;
}
.cid-tCi46M9U8W .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-tCi46M9U8W .menu-logo {
  margin-right: auto;
}
.cid-tCi46M9U8W .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-tCi46M9U8W .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-tCi46M9U8W .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-tCi46M9U8W .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-tCi46M9U8W .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  width: auto;
}
.cid-tCi46M9U8W .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-tCi46M9U8W .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-tCi46M9U8W .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-tCi46M9U8W .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  align-self: center;
}
.cid-tCi46M9U8W .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-tCi46M9U8W .dropdown .dropdown-menu {
  background: #0e1b28;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-tCi46M9U8W .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-item::after {
  right: -0.5rem;
}
.cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-tCi46M9U8W .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tCi46M9U8W .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 1000;
}
.cid-tCi46M9U8W .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-tCi46M9U8W .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 1;
  transition: font-size 0.25s;
}
.cid-tCi46M9U8W .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-tCi46M9U8W .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-tCi46M9U8W .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-tCi46M9U8W button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
  align-self: auto;
}
.cid-tCi46M9U8W button.navbar-toggler.collapsed {
  align-self: center;
}
.cid-tCi46M9U8W button.navbar-toggler:focus {
  outline: none;
}
.cid-tCi46M9U8W button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tCi46M9U8W button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tCi46M9U8W button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCi46M9U8W button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCi46M9U8W button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tCi46M9U8W nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCi46M9U8W nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tCi46M9U8W nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tCi46M9U8W nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCi46M9U8W .collapsed.navbar-toggler {
  align-self: auto;
}
.cid-tCi46M9U8W .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tCi46M9U8W .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tCi46M9U8W .collapsed .btn {
  display: flex;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse.collapsing,
.cid-tCi46M9U8W .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-tCi46M9U8W .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-tCi46M9U8W .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-tCi46M9U8W .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-tCi46M9U8W .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-tCi46M9U8W .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-tCi46M9U8W .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tCi46M9U8W .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-tCi46M9U8W .collapsed button.navbar-toggler {
  display: block;
}
.cid-tCi46M9U8W .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-tCi46M9U8W .collapsed .navbar-toggleable-sm {
  flex-direction: column;
}
.cid-tCi46M9U8W .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-tCi46M9U8W .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-tCi46M9U8W .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-tCi46M9U8W .collapsed .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-tCi46M9U8W .collapsed .menu-bottom {
  flex-direction: column-reverse;
  justify-content: center;
}
.cid-tCi46M9U8W .collapsed .menu-bottom .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tCi46M9U8W .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-tCi46M9U8W .navbar-collapse.collapsing,
  .cid-tCi46M9U8W .navbar-collapse.show {
    display: block !important;
  }
  .cid-tCi46M9U8W .navbar-collapse.collapsing .navbar-nav,
  .cid-tCi46M9U8W .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-tCi46M9U8W .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-tCi46M9U8W .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-tCi46M9U8W .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-tCi46M9U8W .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-tCi46M9U8W .navbar-collapse.collapsing .navbar-buttons,
  .cid-tCi46M9U8W .navbar-collapse.show .navbar-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cid-tCi46M9U8W .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-tCi46M9U8W .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-tCi46M9U8W .menu-bottom {
    flex-direction: row;
    justify-content: center;
  }
  .cid-tCi46M9U8W .menu-bottom .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .cid-tCi46M9U8W .menu-bottom .navbar-brand-bottom {
    margin-right: auto;
  }
  .cid-tCi46M9U8W img {
    height: 3.8rem !important;
  }
  .cid-tCi46M9U8W .btn {
    display: flex;
  }
  .cid-tCi46M9U8W button.navbar-toggler {
    display: block;
  }
  .cid-tCi46M9U8W .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-tCi46M9U8W .navbar-toggleable-sm {
    flex-direction: column;
  }
  .cid-tCi46M9U8W .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-tCi46M9U8W .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-tCi46M9U8W .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-tCi46M9U8W .dropdown .dropdown-toggle[data-toggle='dropdown-submenu']::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-tCi46M9U8W .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-tCi46M9U8W .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-tCi46M9U8W .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-tCi46M9U8W .nav-link:focus {
  outline: none;
}
.cid-tCi46M9U8W .navbar-toggler {
  position: relative;
}
.cid-tCi46M9U8W .dropdown-item.active,
.cid-tCi46M9U8W .dropdown-item:active {
  background: #0b1d32;
  color: initial;
}
.cid-tCi4956cm3 {
  background-image: url("../../../assets/images/background1.webp");
}
.cid-tCi4956cm3 .link-align {
  width: 100%;
}
.cid-tCi4956cm3 .link-wrap {
  display: inline-block;
}
.cid-tCi4956cm3 .link {
  position: relative;
  cursor: pointer;
  width: fit-content;
  letter-spacing: 1px;
  margin-left: 80px;
  color: #ffffff;
}
.cid-tCi4956cm3 .wrap {
  transform: matrix3d(0.99863, -0.052336, 0, 0, 0.052336, 0.99863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
.cid-tCi4956cm3 .wrap .mask {
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: flex;
  z-index: 8;
  visibility: inherit;
  transition: none 0s ease 0s;
  text-align: inherit;
  line-height: 1.05;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 17px;
  white-space: nowrap;
  min-height: 88px;
  width: 100%;
  max-height: 100px;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, -0.275637, 0.961262, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
@media (max-width: 992px) {
  .cid-tCi4956cm3 .wrap .mask {
    background: none;
    min-height: auto;
  }
}
.cid-tCi4956cm3 .wrap .mbr-section-subtitle {
  line-height: 1;
}
.cid-tCi4956cm3 .wrap .price {
  color: #fff000;
}
@media (min-width: 992px) {
  .cid-tCi4956cm3 .wrap .mbr-section-title.display-1 {
    font-size: 100px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .cid-tCi4956cm3 .mbr-text {
    text-align: right;
  }
}
.cid-tCi3JvIhCc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tCi3JvIhCc img {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 20px;
  max-height: ;
}
.cid-tCi3JvIhCc .card {
  margin-bottom: 130px !important;
}
.cid-tCi3JvIhCc .card .img-wrapper {
  overflow: hidden;
}
.cid-tCi3JvIhCc .card:hover {
  cursor: pointer;
}
.cid-tCi3JvIhCc .card:hover img {
  transform: scale(1.05);
}
.cid-tCi3JvIhCc .card:hover .img-wrapper {
  box-shadow: 0 30px 30px -20px rgba(50, 50, 50, 0.3);
}
@media (max-width: 1200px) {
  .cid-tCi3JvIhCc .card {
    margin-bottom: 50px !important;
  }
}
.cid-tCi3JvIhCc .card .card-wrapper {
  text-align: left;
}
.cid-tCi3JvIhCc .card .card-wrapper .mbr-iconfont {
  font-size: 41px;
  color: #ff513c;
  display: block;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding-bottom: 14px;
  margin-right: 14px;
}
.cid-tCi3JvIhCc .card .card-wrapper .card-box .card-title {
  cursor: pointer;
  color: #06182d;
}
.cid-tCi3JvIhCc .card .card-wrapper .card-box .card-title.display-7 {
  line-height: 1.2;
}
.cid-tCi3JvIhCc .card .card-wrapper .card-box .card-text {
  color: #61728a;
}
@media (min-width: 1400px) {
  .cid-tCi3JvIhCc .card.left-box {
    right: 105px !important;
  }
  .cid-tCi3JvIhCc .card.right-box {
    left: 97px !important;
  }
}
.cid-tCi3JvIhCc .mbr-section-title {
  color: #06182d;
}
.cid-tCi3JvIhCc .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCi3JvIhCc .mbr-section-subtitle {
  color: #06182d;
}
.cid-tCi3JvIhCc .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tCi3JvIhCc .mbr-section-text {
  color: #999999;
}
.cid-tCi3MJFEmq {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/-viber-2023-04-26-11-16-35-321-1251x607.webp");
}
.cid-tCi3MJFEmq .mail {
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  width: fit-content;
  display: inline-block;
  color: #ffffff;
  text-align: right;
}
.cid-tCi3MJFEmq .mail:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: -6px;
  opacity: 0.1;
  left: 0;
}
.cid-tCi3MJFEmq .mail:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  transition: all 0.4s ease-in-out;
  background: currentColor;
  bottom: -6px;
  left: auto;
  right: 0;
}
.cid-tCi3MJFEmq .mail:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}
.cid-tCi3MJFEmq .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCi3MJFEmq .mbr-text,
.cid-tCi3MJFEmq .mbr-section-btn {
  color: #ffffff;
}
.cid-tCi3MJFEmq .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tCi3MJFEmq .card .card-wrapper {
  text-align: center;
}
.cid-tCi3MJFEmq .card .card-wrapper .mbr-iconfont {
  font-size: 41px;
  color: #ff513c;
  width: 100%;
  min-width: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding-bottom: 14px;
}
.cid-tCi3MJFEmq .card .card-wrapper .card-box .card-title {
  cursor: pointer;
  color: #ffffff;
}
.cid-tCi3MJFEmq .card .card-wrapper .card-box .card-text {
  color: #ffffff;
}
.cid-tCi3MJFEmq .buttons-wrap {
  text-align: center;
}
.cid-tCi3MJFEmq .buttons-wrap .mbr-section-btn {
  display: inline-block;
}
.cid-tCi3MJFEmq .buttons-wrap .mbr-section-btn .btn {
  padding-left: 39px;
  padding-right: 39px;
}
.cid-tCi3MJFEmq .buttons-wrap .mbr-section-btn .btn-success-outline {
  color: #ffffff;
}
.cid-tCi3MJFEmq .buttons-wrap .mbr-section-btn .btn-success-outline:hover {
  color: #000000;
}
.cid-tCi3MJFEmq .buttons-wrap .or {
  text-align: center;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  vertical-align: sub;
}
@media (max-width: 768px) {
  .cid-tCi3MJFEmq .buttons-wrap .or {
    display: none;
  }
}
.cid-tCi3U8G8eI {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tCi3U8G8eI h3 {
  text-align: center;
  font-weight: 300;
}
.cid-tCi3U8G8eI .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-tCi3U8G8eI .mbr-section-title {
  color: #06182d;
}
.cid-tCi3U8G8eI .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCi3U8G8eI .mbr-section-subtitle {
  color: #61728a;
}
.cid-tCi3U8G8eI .mbr-crt-title .card-title {
  color: #61728a;
}
.cid-tCi3U8G8eI .card {
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-tCi3U8G8eI ellipse {
  stroke: white;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tCi3U8G8eI .card {
    flex-basis: 50%;
  }
}
.cid-tCi3U8G8eI .progress1 path {
  stroke: #fff000;
}
.cid-tCi3U8G8eI .progress2 path {
  stroke: #ff4e3c;
}
.cid-tCi3U8G8eI .progress3 path {
  stroke: #52c158;
}
.cid-tCi3U8G8eI .progress4 path {
  stroke: #1887cd;
}
.cid-tCi3U8G8eI .card-text {
  color: #767676;
}
.cid-tCi3U8G8eI .pie_progress__number {
  color: #06182d;
}
.cid-tCi3LbbLBM {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tCi3LbbLBM .img-wrap {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-position: 50% 50%;
  z-index: 2;
  background-image: url("../../../assets/images/-viber-2023-04-26-11-24-18-912-986x494.webp");
}
.cid-tCi3LbbLBM .card {
  border-radius: 0;
  margin: auto 0;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-section-title {
  color: #06182d;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-section-subtitle {
  color: #06182d;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-text {
  color: #61728a;
  font-weight: 300;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-list {
  margin-top: 20px;
  color: #606060;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-list .list {
  list-style-type: none;
  padding-left: 0;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-list .list li {
  line-height: 1.75;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cid-tCi3LbbLBM .card .wrapper .mbr-list .list li:before {
  font-weight: 900;
  color: #ff4e3c;
  display: inline-block;
  content: "\e97c";
  font-family: "Moririse2" !important;
  text-align: center;
  line-height: 1.5em;
  transition: all 0.3s;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.cid-tCi3LbbLBM .card .wrapper .link-wrap {
  width: 100%;
}
.cid-tCi3LbbLBM .card .wrapper .link-wrap .link {
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  width: fit-content;
  transition: all 0.3s;
  transition-delay: 0.15s;
  text-align: left;
}
.cid-tCi3LbbLBM .card .wrapper .link-wrap .link:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: -6px;
  opacity: 0.2;
  left: 0;
}
.cid-tCi3LbbLBM .card .wrapper .link-wrap .link:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  transition: all 0.4s ease-in-out;
  background: currentColor;
  bottom: -6px;
  left: auto;
  right: 0;
}
.cid-tCi3LbbLBM .card .wrapper .link-wrap .link:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}
.cid-tCi3IUhC1m {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tCi3IUhC1m .mbr-section-title {
  color: #06182d;
}
.cid-tCi3IUhC1m .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCi3IUhC1m .mbr-section-subtitle {
  color: #06182d;
}
.cid-tCi3IUhC1m .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tCi3IUhC1m .card:nth-child(even) {
  margin-top: 70px;
}
.cid-tCi3IUhC1m .card:nth-child(odd)::after {
  content: "";
  background-size: contain;
  background-image: url("../../../assets/images/arrow2.webp");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 185px;
  height: 50px;
  z-index: 4;
  top: 1px;
  right: -148px;
}
.cid-tCi3IUhC1m .card:nth-child(2)::after {
  content: "";
  background-size: contain;
  background-image: url("../../../assets/images/arrow2.webp");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 175px;
  height: 80px;
  z-index: 4;
  bottom: -12px;
  right: -100px;
  transform: scale(1, -1);
}
.cid-tCi3IUhC1m .card .card-wrapper {
  height: 100%;
}
.cid-tCi3IUhC1m .card .card-wrapper .card-img {
  position: relative;
}
.cid-tCi3IUhC1m .card .card-wrapper .card-img:hover img {
  transform: rotateY(180deg);
}
.cid-tCi3IUhC1m .card .card-wrapper .card-img img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
  margin-left: auto;
  margin-right: auto;
}
.cid-tCi3IUhC1m .card .card-wrapper .card-box {
  padding-top: 1rem;
}
.cid-tCi3IUhC1m .card .card-wrapper .card-box .card-title {
  margin-bottom: 0;
  color: #06182d;
  text-align: center;
  font-weight: 700;
}
.cid-tCi3IUhC1m .card .card-wrapper .card-box .mbr-text {
  text-align: center;
  color: #030f1c;
}
@media (max-width: 991px) {
  .cid-tCi3IUhC1m .card:after {
    background-image: none !important;
    display: none !important;
  }
  .cid-tCi3IUhC1m .card:nth-child(even) {
    margin-top: 0;
  }
}
.cid-tCi4hYnLLz {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background3.webp");
}
.cid-tCi4hYnLLz .mbr-section-title {
  color: #ffffff;
}
.cid-tCi4hYnLLz .mbr-section-title.display-2 {
  line-height: 1.375;
}
.cid-tCi4hYnLLz .mbr-iconfont {
  display: block;
  font-size: 6rem;
  color: #ff513c;
  margin-bottom: 2rem;
}
.cid-tCi4hYnLLz .btn.display-4 {
  font-size: 14px;
  line-height: 1;
}
.cid-tCi4hYnLLz .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cid-tCi4hYnLLz .items .list-item {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  -webkit-align-items: center;
  display: flex;
}
.cid-tCi4hYnLLz .items .list-item .listico {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.1rem;
  margin: auto;
  color: #ff513c;
}
.cid-tCi4hYnLLz .items .list-item .text2 {
  display: inline-block;
  color: #ffffff;
  text-align: left;
  margin-bottom: 0;
}
.cid-tCi4hYnLLz .items .list-item:last-child .listico {
  display: none;
}
.cid-tCi3S6kuJm {
  padding-top: 90px;
  padding-bottom: 75px;
  position: relative;
  background-color: #ffffff;
}
.cid-tCi3S6kuJm .mbr-section-title {
  color: #06182d;
}
.cid-tCi3S6kuJm .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCi3S6kuJm .mbr-section-subtitle {
  color: #06182d;
}
.cid-tCi3S6kuJm .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tCi3S6kuJm .mbr-text {
  color: #61728a;
  font-weight: 300;
}
.cid-tCi3S6kuJm .title-text {
  margin-bottom: 70px;
}
.cid-tCi3S6kuJm .title-text .mbr-section-subtitle {
  color: #06182d;
}
.cid-tCi3S6kuJm .title-text .mbr-section-subtitle.mbr-light {
  font-weight: 300;
}
.cid-tCi3S6kuJm .title-text .mbr-section-subtitle.display-4 {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 2px;
}
.cid-tCi3S6kuJm .title-text .mbr-section-title {
  color: #282f39;
}
.cid-tCi3S6kuJm .title-text .mbr-section-title.mbr-bold {
  font-weight: 700;
}
.cid-tCi3S6kuJm .title-text .mbr-section-title span {
  font-weight: 500;
}
.cid-tCi3S6kuJm .title-text .mbr-section-title.display-2 {
  line-height: 1.2;
  letter-spacing: -0.5px;
}
.cid-tCi3S6kuJm .mbr-iconfont {
  font-family: "Moririse2" !important;
  display: inline-flex;
  transform-origin: ;
  transform: rotate(45deg);
  transition: all 0.3s;
  font-size: 1.4rem !important;
  color: #ff4e3c;
}
.cid-tCi3S6kuJm .mbr-iconfont:before {
  transform: scaleY(0) !important;
  transition: all 0.4s;
}
.cid-tCi3S6kuJm .p-4 {
  padding: 1rem 0 !important;
}
.cid-tCi3S6kuJm .accordion .card .card-header {
  margin-bottom: 0px;
}
.cid-tCi3S6kuJm .mbri-arrow-down:before {
  content: "\e960";
}
.cid-tCi3S6kuJm .mbri-arrow-up:before {
  content: "\e960";
}
.cid-tCi3S6kuJm .collapsed .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-tCi3S6kuJm .collapsed .mbr-iconfont:before {
  transform: scaleY(1) !important;
  transition: all 0.3s;
}
.cid-tCi3S6kuJm .card {
  border-radius: 0px;
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1.2rem;
}
.cid-tCi3S6kuJm .card:hover .card-header {
  transition: all 0.15s linear 0s;
  opacity: 0.7;
}
.cid-tCi3S6kuJm .card .card-header {
  border-radius: 0px;
  background-color: transparent;
  padding: 0;
}
.cid-tCi3S6kuJm .card .card-header h4 {
  justify-content: flex-start;
  width: 100%;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title {
  margin-bottom: 0;
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ff4e3c;
  transition: all 0.3s;
  justify-content: space-between;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title.collapsed {
  border-bottom: 1px solid #efefef;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title h4 {
  padding: 0 0rem 1.2rem;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: #28303f;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title h4 .sign {
  line-height: 1.6 !important;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title .toggle-icon {
  right: 14px;
  position: absolute;
  top: 20px;
  transform: none;
  display: inline-block;
  height: 2px;
  margin-left: 0;
  width: 12px;
  border-radius: 50%;
  border: 2px solid rgba(97, 114, 138, 0.4);
  padding: 13px;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title .toggle-icon:before,
.cid-tCi3S6kuJm .card .card-header a.panel-title .toggle-icon:after {
  background: currentColor;
  border: 0;
  box-sizing: border-box;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title .toggle-icon:before {
  height: 12px;
  margin-left: -1px !important;
  width: 2px;
  margin-top: -6px;
  background-color: currentColor;
  border: 0;
  transform: none;
}
.cid-tCi3S6kuJm .card .card-header a.panel-title .toggle-icon:after {
  height: 2px;
  width: 12px;
  margin-left: -6px;
  margin-top: -1px;
}
.cid-tCi3S6kuJm .card .panel-body {
  padding: 14px 20px;
}
.cid-tCi3S6kuJm .card .panel-body p {
  color: #61728a;
  line-height: 1.5;
}
.cid-tCi3S6kuJm .card .panel-body .display-4 {
  font-size: 16px;
}
.cid-tCtOkLuQ8q {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f4f6f9;
}
.cid-tCtOkLuQ8q .mbr-section-title {
  color: #06182d;
}
.cid-tCtOkLuQ8q .mbr-section-title span {
  line-height: 1;
  color: #ffffff;
  padding: 0 6px 1px 5px;
  transform: skew(-14deg);
  background: #ff5e3a;
  background: linear-gradient(#ff5e3a 0%, #ff653c 69%, #ff4e3c 100%);
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0;
  position: relative;
}
.cid-tCtOkLuQ8q .mbr-section-subtitle {
  color: #06182d;
}
.cid-tCtOkLuQ8q .mbr-section-subtitle.display-7 {
  letter-spacing: 0;
}
.cid-tCtOkLuQ8q .mbr-section-text {
  color: #999999;
}
.cid-tCtOkLuQ8q .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-tCtOkLuQ8q .form-control,
.cid-tCtOkLuQ8q .form-check-label {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}
.cid-tCtOkLuQ8q .form-control {
  box-shadow: none;
  margin-bottom: 15px;
  padding: 0.7em 1.07em 0em 0.8em;
  background-color: #f4f6f9;
  border: 0px solid #dfe3e8;
  border-bottom: 1px solid #dfe3e8;
  color: #61728a;
  line-height: 1.43;
  min-height: 3.5em;
  border-radius: 0.25rem;
}
.cid-tCtOkLuQ8q .form-control:focus,
.cid-tCtOkLuQ8q .form-control:hover {
  border: 0px solid #f4f6f9;
  background-color: #f4f6f9;
}
.cid-tCtOkLuQ8q .form-control.textarea {
  padding-top: 40px;
}
.cid-tCtOkLuQ8q .form-group {
  margin-bottom: 1rem;
}
.cid-tCtOkLuQ8q .form-group .wrap {
  display: flex;
}
.cid-tCtOkLuQ8q .form-group .wrap span {
  padding: 0em 0em;
  margin-bottom: 0px;
  align-self: center;
  color: #61728a;
}
.cid-tCtOkLuQ8q input::-webkit-input-placeholder,
.cid-tCtOkLuQ8q textarea::-webkit-input-placeholder {
  color: #61728a;
}
.cid-tCtOkLuQ8q input:-moz-placeholder,
.cid-tCtOkLuQ8q textarea:-moz-placeholder {
  color: #61728a;
}
.cid-tCtOkLuQ8q .jq-selectbox li,
.cid-tCtOkLuQ8q .jq-selectbox li {
  background-color: #f4f6f9;
  color: #000000;
}
.cid-tCtOkLuQ8q .jq-selectbox li:hover,
.cid-tCtOkLuQ8q .jq-selectbox li.selected {
  background-color: #f4f6f9;
  color: #000000;
}
.cid-tCtOkLuQ8q .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f4f6f9;
}
.cid-tCtOkLuQ8q .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f4f6f9;
}
.cid-tCtOkLuQ8q .map {
  width: 100%;
  height: 30rem;
}
.cid-tCtOkLuQ8q .map iframe {
  width: inherit;
  height: 100%;
}
.cid-tCtOkLuQ8q .icon-block {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.cid-tCtOkLuQ8q .icon-block .icon-block__icon {
  display: inline-block;
  flex-shrink: 0;
}
.cid-tCtOkLuQ8q .icon-block .icon-block__title {
  display: inline-block;
  align-self: center;
  margin-bottom: 0;
  line-height: 1;
  font-style: italic;
}
.cid-tCtOkLuQ8q .mbr-text {
  color: #767676;
}
.cid-tCtOkLuQ8q a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-tCtOkLuQ8q .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-tCtOkLuQ8q .input-group-btn {
  display: block;
  text-align: left;
}
.cid-tCtOkLuQ8q .input-group-btn .btn-sm {
  padding: 7px 39px;
}
.cid-tCtOkLuQ8q textarea.form-control {
  resize: none;
}
.cid-tCtOkLuQ8q .google-map {
  height: 25rem;
  position: relative;
}
.cid-tCtOkLuQ8q .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tCtOkLuQ8q .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tCtOkLuQ8q .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tCtOkLuQ8q .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 767px) {
  .cid-tCtOkLuQ8q h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-tCtOkLuQ8q .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-tCtOkLuQ8q .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-tCtOkLuQ8q .google-map {
    padding-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .cid-tCtOkLuQ8q * {
    text-align: center !important;
  }
}
.cid-tCtOkLuQ8q .gdpr-block {
  padding: 20px;
  text-align: left;
}
.cid-tCtOkLuQ8q .gdpr-block span {
  line-height: 1;
}
.cid-tCtOkLuQ8q .gdpr-block label span.textGDPR input[name="gdpr"] {
  top: 6px;
}
.cid-tCrY3kMUNA {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #06182d;
}
.cid-tCrY3kMUNA .copyright {
  display: flex;
}
@media (max-width: 992px) {
  .cid-tCrY3kMUNA .copyright {
    margin-bottom: 1rem;
  }
}
.cid-tCrY3kMUNA .text-wrap {
  transition: all 0.3s;
  padding: 23px;
  bottom: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cid-tCrY3kMUNA .text-wrap .icons-wrap .icon-wrapper {
  background: #06182d;
  display: flex;
  width: 31px;
  height: 31px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #384657;
  transition: all 0.3s;
  z-index: 4;
  cursor: pointer;
  margin: 0 0.2rem;
}
.cid-tCrY3kMUNA .text-wrap .icons-wrap .icon-wrapper:hover {
  background: #ff4e3c;
  border-color: #ff4e3c;
}
.cid-tCrY3kMUNA .text-wrap .icons-wrap .icon-wrapper:hover .link-icon {
  color: #ffffde;
}
.cid-tCrY3kMUNA .text-wrap .icons-wrap .icon-wrapper .link-icon {
  display: inline-block;
  color: #ffffde;
  transition: all 0.3s;
  font-size: 14px;
  justify-content: center;
}
.cid-tCrY3kMUNA .text-wrap .icons-wrap::before {
  height: 2px;
  width: 100%;
  top: 50%;
  right: 58%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #384657;
}
@media (max-width: 992px) {
  .cid-tCrY3kMUNA .text-wrap .icons-wrap::before {
    display: none;
  }
}
.cid-tCrY3kMUNA .text-wrap .icons-wrap::after {
  height: 2px;
  width: 100%;
  top: 50%;
  left: 58%;
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #384657;
}
@media (max-width: 992px) {
  .cid-tCrY3kMUNA .text-wrap .icons-wrap::after {
    display: none;
  }
}
